{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
<h1>Menu WV New </h1>
<p>
    Este menu es una version de la app de Estapar brasil
</p>
    </div>

    <div class="col-4">
        <img src="assets/img/estapar VOLSWAGEN.png"class="img-thumbnail">
    </div>


</div>

{{> footer }}