{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
<h1>Motivational Phrase about Technology</h1>
<p>
    Esta es una frase motivadora sobre la evolición diara que se vive en el mundo de la Tecnología...
</p>
    </div>

    <div class="col-4">
        <img src="assets/img/SwtewardBrand.jpeg"class="img-thumbnail">
    </div>


</div>

{{> footer }}